<h1>Edit the restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name, "Enter a name" %>
  <%= f.text_field :name %>

  <%= f.label :address, "Enter a address" %>
  <%= f.text_field :address %>

  <%= f.label :rating, "Enter a rating" %>
  <%= f.text_field :rating %>

  <%= f.submit %>
<% end %>
